<br>
<div class="container">
   <div class="container">
      <form action="/login" method="post">
         <label for="username">Username: </label>
         <input type="text" name="username" id="username"><br><br>

         <label for="password">Password: </label>
         <input type="password" name="password" id="password"><br><br>
         
         <div class="center">
            <button class="btn waves-effect waves-light green" type="submit" name="submit" id="submit">Login</button><br><br>
         </div>
      </form>
   </div>
</div>